html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

text {
  font-family: arial;
  font-size: 12px;
}

path.line {
  fill: none;
  /*stroke: purple;*/
  stroke-width: 0.75px;
}

.axis path, .axis line {
  fill: none;
  stroke: slategray;
  shape-rendering: crispEdges;
}

/* Simple dashboard grid CSS */

/* Design resource from Matt Holland of Medium.com */

#googleLogo {
  border-radius: 50%;
  width: 50%;
  text-align: center;
  margin-left: 40px;
  margin-top: 10px;
}

/* Assign grid instructions to our parent grid container */

.grid-container {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas: "sidenav header" "sidenav main" "sidenav footer";
  height: 100vh;
}

/* Give every child element its grid name */

.header {
  grid-area: header;
  background-color: #648ca6;
}

.sidenav {
  grid-area: sidenav;
  background-color: #394263;
}

.main {
  grid-area: main;
  background-color: #8fd4d9;
}

.footer {
  grid-area: footer;
  background-color: #648ca6;
}

.header, .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #648ca6;
}

.sidenav {
  display: flex;
  /* Will be hidden on mobile */
  flex-direction: column;
  grid-area: sidenav;
  background-color: #394263;
}

.sidenav__list {
  padding: 0;
  margin-top: 10px;
  list-style-type: none;
}

.sidenav__list-item {
  padding: 20px 20px 20px 45px;
  color: #ddd;
}

.sidenav__list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white/*#82bef6*/
  ;
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  padding: 24px;
  box-sizing: border-box;
}

/* Force varying heights to simulate dynamic content */

/*Graph*/

#graph {
  height: 540px;
  width: 100%;
}

/* Slider */

#slider {
  height: 100px;
}

#article_pic {
  height: 500px;
  border: solid 2px black;
  width: 40%;
}

#row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

#map1 {
  border: solid 2px black;
  width: 59%;
  height: 500px;
}

.menu-icon {
  position: fixed;
  display: flex;
  top: 5px;
  left: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
  background-color: #DADAE3;
}

/* Make room for the menu icon on mobile */

.header__search {
  margin-left: 42px;
}

/* Mobile-first side nav styles */

.sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 160px;
  position: fixed;
  overflow-y: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 2;
  /* Needs to sit above the hamburger menu icon */
  background-color: #394263;
  transform: translateX(-245px);
  transition: all .6s ease-in-out;
}

/* The active class is toggled on hamburger and close icon clicks */

.sidenav.active {
  transform: translateX(0);
}

/* Only visible on mobile screens */

.sidenav__close-icon {
  position: absolute;
  visibility: visible;
  top: 8px;
  right: 12px;
  cursor: pointer;
  font-size: 20px;
  color: #ddd;
}

/* Non-mobile styles for side nav responsiveness, 750px breakpoint */

@media only screen and (min-width: 46.875em) {
  .sidenav {
    position: relative;
    /* Fixed position on mobile */
    transform: translateX(0);
  }
  .sidenav__close-icon {
    visibility: hidden;
  }
}

div.tooltip {
  position: absolute;
  text-align: left;
  padding: 4px;
  font: 12px sans-serif;
  pointer-events: none;
}

#nyt_articles {
  flex-direction: unset;
  position: relative;
  overflow-y: auto;
  width: 100%;
  height: 500px;
  padding: 0px;
}

#scroll-svg {
  position: absolute;
  top: 0px;
  width: 100%;
}

#headline {
  fill: black;
  font-size: 18px;
  font-family: Georgia;
}

#date {
  fill: grey;
  font-family: Georgia;
}

/*# sourceMappingURL=/styles.8986bff4.css.map */