html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

text {
  font-family: arial;
  font-size: 12px;
}

path.line {
  fill: none;
  stroke-width: 0.75px;
}

.axis path, .axis line {
  fill: none;
  stroke: slategray;
  shape-rendering: crispEdges;
}

div.tooltip {
  position: absolute;
  text-align: left;
  padding: 4px;
  font: 12px sans-serif;
  pointer-events: none;
}

/* Header & Footer */
#googleLogo {
  border-radius: 50%;
  height: 80%;
  text-align: center;
}

#UWLogo {
  height: 75%;
  text-align: center;
  margin-top: 5px;
}

.header__search {
  margin-left: 42px;
}

.header, .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #394263;
  color: white;
  grid-column-start: 1;
  grid-column-end: 3;
}

/* Home & Tutorial Buttons */
#tutorial, #home {
  height: 60px;
  width: 60px;
  bottom: 32px;
  right: 10px;
  position: fixed;
  z-index: 1;
  background-color: red;
  border-radius: 50%;
  text-align: center;
}

#tutorial {
  cursor: help;
}

#home {
  cursor: pointer;
}

/* Grid Layout, Main Area, and Cards Within Main */
.grid-container {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: 50px 1fr 50px;
  height: 100vh;
  width: 100%;
}

.main {
  background-color: #8fd4d9;
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  padding: 24px;
  box-sizing: border-box;
}

/*Graph*/
#graph {
  height: 540px;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
}
  
/* Slider */
#slider {
  height: 100px;
  width:100%;
  grid-column-start: 1;
  grid-column-end: 3;
}

/* Map and Article Pic Section */
#row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  width:100%;
  grid-column-start: 1;
  grid-column-end: 3;

}

#map1 {
  border: solid 2px black;
  width: 59%;
  height: 500px;
}

#article_pic {
  height: 500px;
  border: solid 2px black;
  width: 40%;
}
